@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url("https://fonts.googleapis.com/css?family=Material + Icons");

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
}

.spinner {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px #2264d1 solid;
  border-right: 4px #2264d1 solid;
  border-bottom: 4px #2264d1 solid;
  border-radius: 50%;
  -webkit-animation: spin3 1s infinite linear;
  animation: spin3 1s infinite linear;
}

@keyframes spin3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

button {
  outline: none;
}

#center,
.center {
  width: 1310px;
  padding: 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1310px) {
  #center,
  .center {
    margin-left: 0px;
    width: 100%;
  }
}
